In [140]:
# All Imports

from datetime import datetime as dt
import requests
import talib as ta
import pandas as pd
import matplotlib.pyplot as plt

In [108]:

API_KEY = 'xxxx'

In [127]:
def generate_rsi_signals(data, period=14, overbought_threshold=70, oversold_threshold=30):
   
    # Calculate RSI
    data['RSI'] = ta.RSI(data['close'], timeperiod=period)

    # Initialize 'Signal' column with 'Neutral'
    data['Signal'] = 'Neutral'

    # Generate signals
    data.loc[data['RSI'] < oversold_threshold, 'Signal'] = 'Buy'
    data.loc[data['RSI'] > overbought_threshold, 'Signal'] = 'Sell'

    return data

def get_daily_ohlc_data(symbol):
    function_name = 'TIME_SERIES_DAILY'    
    base_url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={}&apikey={}'.format(symbol,API_KEY)
    r = requests.get(base_url)
    data = r.json()["Time Series (Daily)"]
    return data

In [110]:
ohlc = get_daily_ohlc_data("MSFT")

In [141]:
# Convert to DataFrame
df = pd.DataFrame.from_dict(ohlc, orient="index")
# Rename columns
df = df.rename(columns={
    "1. open": "open",
    "2. high": "high",
    "3. low": "low",
    "4. close": "close",
    "5. volume": "volume"
})
df = df.apply(pd.to_numeric)
df = df.sort_index(ascending=True)
df

              open      high       low   close    volume
2023-07-05  335.09  341.6500  334.7276  338.15  18172378
2023-07-06  337.30  342.9900  335.5000  341.27  28195534
2023-07-07  339.32  341.7900  337.0000  337.22  21214824
2023-07-10  334.60  335.2300  327.5900  331.83  32791449
2023-07-11  331.06  332.8600  327.0000  332.47  26698218
...            ...       ...       ...     ...       ...
2023-11-16  370.96  376.3500  370.1800  376.17  27182315
2023-11-17  373.61  374.3700  367.0000  369.85  40325371
2023-11-20  371.22  378.8700  371.0000  377.44  52528964
2023-11-21  375.67  376.2215  371.1200  373.07  28423145
2023-11-22  378.00  379.7899  374.9650  377.85  23361184

[100 rows x 5 columns]

In [139]:
df_rsi = generate_rsi_signals(df)
df_rsi.tail(17)

              open      high       low   close    volume        RSI   Signal
2023-10-31  338.85  339.0000  334.6900  338.11  20265282  58.290196  Neutral
2023-11-01  339.79  347.4200  339.6500  346.07  28158819  63.821897  Neutral
2023-11-02  347.24  348.8300  344.7700  348.32  24348072  65.225784  Neutral
2023-11-03  349.63  354.3900  347.3300  352.80  23637673  67.897017  Neutral
2023-11-06  353.45  357.5400  353.3500  356.53  23828301  69.965671  Neutral
2023-11-07  359.40  362.4600  357.6300  360.53  25833931  72.045957     Sell
2023-11-08  361.68  363.8700  360.5500  363.20  26767828  73.371773     Sell
2023-11-09  362.30  364.7900  360.3620  360.69  24847331  70.010166     Sell
2023-11-10  361.49  370.1000  361.0700  369.67  28065164  74.509811     Sell
2023-11-13  368.22  368.4700  365.9000  366.68  19986506  70.705825     Sell
2023-11-14  371.01  371.9500  367.3454  370.27  27683862  72.519886     Sell
2023-11-15  371.28  373.1300  367.1100  369.67  26860095  71.720502     Sell
2023-11-16  370.96  376.3500  370.1800  376.17  27182315  74.942879     Sell
2023-11-17  373.61  374.3700  367.0000  369.85  40325371  66.954268  Neutral
2023-11-20  371.22  378.8700  371.0000  377.44  52528964  70.958096     Sell
2023-11-21  375.67  376.2215  371.1200  373.07  28423145  65.999858  Neutral
2023-11-22  378.00  379.7899  374.9650  377.85  23361184  68.585600  Neutral